html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: break-all;
  hyphens: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol,
ul {
  line-height: 1.5rem;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-alpha;
}
